<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wellnara Provider</title>
</head>
<body>

<h2>Wellnara: Provider</h2>

<div th:if="${successMessage}" style="margin-bottom: 20px; color: green;">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${providerEmail}" style="margin-bottom: 20px;">
    <p>
        Your email:
        <strong th:text="${providerEmail}"></strong>
    </p>
</div>

<a th:href="@{/auth/logout}">Logout</a>

</body>
</html>